.systemCard {
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.systemCard {
    border: 2px solid black;
    width: 30%;
    float: left;
    margin: 15px;
}

.userCard {
    border: 2px solid black;
    width: 30%;
    float: left;
    margin: 15px;
    border-radius: 15px;
}

.cardContent {
    border: 2px solid rgb(112, 190, 221);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.cardHead {
    text-align: center;
}

.btnGrp {
    text-align: center;
}